body{
    margin:0;
    font-family: sans-serif;
}
h1{
    margin:0;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    
}
form{
    margin:0;
    text-align: center;
}